@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss';

@layer custom {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    * {
        background-color: transparent;
        color: #ffffff;
        font-family: sofia-pro-soft, Arial, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    html {
        background-color: #272727;
    }
}


:host {
    margin: initial;
    padding: initial;
}

